@import "./base.css";

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#app {
  overflow-y: hidden;
  width: 70%;
  height: 60%;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  align-items: center;
  font-weight: normal;
}